.ceo-wrapper {
    width: calc(100% - 60px);
    max-width: 1024px;
    margin: 0 auto 40px auto;
    align-items: center;
}


.ceo-label h2 {
    text-align: center;
    font-size: 2rem;
    color: #08B355;
    margin: 40px 0;
}

.balloon {
    position: relative;
    background: #E5FFE5;
    border-radius: 20px;
    box-sizing: border-box;
    border-color: #000;
    padding: 40px;
}

.balloon:before {
    content: "";
    position: absolute;
    top: -43px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 30px solid #E5FFE5;
}

.ceo-label h3 {
    padding: 0 40px;
    margin: 20px 0;
    text-align: center;
}

.balloon p {
    font-size: 1rem;
    padding: 0 40px;
    margin-bottom: 10px;
}

.ceo-intro {
    display:flex;
    width: 160px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: space-between;
}

.ceo-info {
    display: flex;
    flex-direction: column;
}

.ceo-logo {
    display: flex;
    height: 40px;
}

.ceo-title {
    font-weight: 700;
    font-size: 0.75rem;
}

.ceo-name {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.ceo-photo {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 325px;
    border-radius: 20px;
}

.signature {
    margin-top: 30px;
    text-align: right;
}

.ceo-note-message {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

.ceo-note {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-logo {
    width: 200px;
    border-radius: 10px;
    margin: 20px 0;
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
    .ceo-wrapper {
        width: calc(100% - 50px);
    }
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 480px) {
    .decoration {
        font-size: 2.5rem;
        margin: 20px 0px 0px 28px;
    }

    .ceo-label p {
        padding: 0;
    }
}