html {
    font-family: "Noto Sans JP", sans-serif;
}

/* ヘッダー */

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000; /* 必要に応じて重なり順を調整 */
}

.header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1120px;
    padding: 0 16px;
    margin: 0 auto;
}

.header-wrapper ul {
    display: flex;
    align-items: center;
}

.header-wrapper li {
    margin-right: 30px;
    font-size: 20px;
}

.header-wrapper li:last-child {
    margin-right: 0;
}

.logo {
    width: 200px;
    line-height: 1px;
    margin-right: 60px;
}

.logo a {
    display: block;
}

.contact {
    width: 200px;
    height: 80px;
    line-height: 80px;
    background-color: #08B355;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

.contact:hover {
    filter: brightness(1.2);
}

/* フッター */
.footer {
    background-color: #08B355;
    padding: 60px 0 20px 0;
    color: #fff;
}

.footer a {
    font-size: 16px;
    transition: 0.3s;
}

.footer a:hover {
    opacity: 0.7;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1120px;
    padding: 0 16px;
    margin: 0 auto;
}

.title {
    font-weight: bold;
}

.menu {
    padding: 10px 0 0 10px;
}

.menu li {
    margin-bottom: 3px;
}

.copyright {
    font-size: 16px;
    text-align: center;
}