html {
    font-family: "Zen Maru Gothic", sans-serif;
}

/* ヘッダー */

.header {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    position: relative;
    /* ボタンの基準位置を設定 */
}

/* Instagramボタンのスタイル */
.instagram-icon {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    /* font-size: 14px;
    font-weight: bold; */
    text-align: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
    transition: background-color 0.3s ease;
}

.instagram-icon img {
    width: 100%;
    /* 親の幅内でアイコンをスケール */
    height: auto;
    /* アスペクト比を維持 */
    margin-bottom: 0px;
}

.instagram-icon:hover {
    opacity: 0.7;
}

/* 追従ボタンのスタイル */
.floating-btn {
    position: fixed;
    top: 0px;
    right: 20px;
    padding: 10px 20px;
    background-color: #FEE101;
    color: #000;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 50;
}

.floating-btn:hover {
    opacity: 0.7;
    color: #fff;
}

.header h1 {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.header img {
    width: 200px;
    margin: 0 auto 40px auto;
}

.header img a {
    display: block;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu,
.inquiry {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
}

.menu li {
    margin-right: 30px;
    /* white-space: nowrap; */
}

.inquiry li {
    margin-left: 30px;
}

.menu li a:hover,
.inquiry li a:hover {
    color: #08B355;
    /* ホバー時の色を変更 */
}


/* フッター */
.footer {
    background-color: #08B355;
    padding: 60px 0 20px 0;
    color: #fff;
}

.footer a {
    font-size: 16px;
    transition: 0.3s;
}

.footer a:hover {
    opacity: 0.7;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
}

.footer-menu {
    padding: 10px 0 0 10px;
}

.footer-menu li {
    margin-bottom: 3px;
}

.copyright {
    font-size: 16px;
    text-align: center;
}

.toggle_btn,
.close_btn {
    display: none;
}

.inquiry-icon {
    display: none;
}

.pagetop {
    display: block;
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 10px;
    padding: 12px;
    background-color: #FEE101;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 15;
}

.pagetop:hover {
    opacity: 0.7;
    color: #fff;
}

.pagetop img {
    margin-bottom: 0px;
}

.error-message {
    color: #FF5555;
    padding: 5px;
}

.logo-text {
    display: none;
}

.header-scrolled .nav-wrapper {
    display: none;
}

@media (max-width: 768px) {
    .toggle_btn {
        display: block;
        position: absolute;
        cursor: pointer;
        font-size: 1.875rem;
        top: 5px;
        right: 20px;
    }

    /* ハンバーガーメニューを開いたときに表示 */
    #mask {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(5, 94, 45, 0.8);
        z-index: 30;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    #mask.open {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .close_btn {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.875rem;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-wrapper {
        display: block;
        color: #fff;
    }

    .menu,
    .inquiry {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    .menu {
        margin-top: 80px;
    }

    .menu li {
        margin-right: 0;
    }

    .inquiry li {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .menu li {
        margin-bottom: 20px;
    }

    .floating-btn {
        display: none;
    }

    /* 追従ボタンのスタイル */
    .inquiry-icon {
        display: block;
        position: fixed;
        width: 70px;
        height: 70px;
        top: 130px;
        right: 0px;
        padding: 12px;
        background-color: #FEE101;
        color: #000;
        text-decoration: none;
        border-radius: 10px 0px 0px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
        transition: background-color 0.3s ease;
        z-index: 15;
    }

    .inquiry-icon img {
        margin-bottom: 0px;
    }

    .inquiry-icon:hover {
        opacity: 0.7;
        color: #fff;
    }

    /* 以下からスティッキーヘッダー */
    .header-scrolled {
        padding: 0px;
    }

    .header-scrolled .header-wrapper {
        z-index: 20;
        width: 100%;
        height: 60px;
        background-color: #fff;
        transition: top .3s;
        position: fixed;
        top: 0;
        box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    }

    .header-scrolled .header-wrapper img {
        width: 140px;
    }

    .header-scrolled .header-wrapper .logo-text {
        display: block;
        width: 120px;
        position: absolute;
        top: 18px;
        left: 10px;
    }

    .header-scrolled .header-wrapper .instagram-icon {
        display: none;
    }
}