.contact-confirm-wrapper {
    width: calc(100% - 60px);
    max-width: 768px;
    margin: 0 auto 40px auto;
    align-items: center;
}


.contact-confirm-wrapper h2 {
    text-align: center;
    font-size: 2rem;
    color: #08B355;
    margin: 40px 0;
}

.contact-confirm-wrapper .description {
    text-align: center;
    font-size: 1.625rem;
    color: #000;
    margin-bottom: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-break: break-word;
}

th {
    background-color: #F0F6FA;
}

td {
    word-wrap: break-word;
}

.confirm-label {
    width: 30%;
    font-weight: 700;
}

.form-buttons {
    margin-top: 40px;
    text-align: center;
}

.edit-btn {
    display: inline-block;
    width: 45%;
    padding: 10px;
    color: #fff;
    background-color: #08B355;
    font-size: 1rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 40px;
    margin-right: 20px;
}

.edit-btn:hover {
    opacity: 0.7;
    color: #000;
}

.primary-btn {
    width: 45%;
    padding: 10px;
    color: #000;
    background-color: #FEE101;
    font-size: 1rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 40px;
}

.primary-btn:hover {
    opacity: 0.7;
    color: #fff;
}

.inquiry-icon {
    display: none;
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
    .contact-confirm-wrapper {
        width: calc(100% - 50px);
    }
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 480px) {
    .contact-confirm-label p {
        padding: 0;
    }
}