/* メインビジュアル全体 */
.mainvisual {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 9 / 16 * 100 = 56.25% */
    overflow: hidden;
    background-color: #000;
}

/* テキスト部分 */
.mainvisual .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 10;
    width: 100%;
}

.mainvisual .text .title {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 20px;
    margin-bottom: 20px;
}

.mainvisual .text .btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FEE101;
    color: #000;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-weight: 700;
}

.mainvisual .text .btn:hover {
    filter: brightness(1.2);
}

/* 画像リスト */
.mainvisual .fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.mainvisual .fade li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.mainvisual .fade li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.mainvisual .fade li.active {
    opacity: 1;
}

/* イントロダクション */
.introduction-wrapper {
    width: calc(100% - 60px);
    max-width: 1024px;
    margin: 0 auto 40px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.introduction-wrapper .right-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* リストを縦に並べる */
    margin-left: 20px;
}

.introduction-wrapper .right-panel h2 {
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 700;
}

.introduction-wrapper .right-panel h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #08B355;
    margin-bottom: 20px;
}

.introduction-wrapper .left-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* リストを縦に並べる */
    margin-right: 20px;
}

.introduction-wrapper .left-panel h1 {
    font-family: "Work Sans", serif;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
}

.introduction-wrapper .left-panel .description {
    font-size: 1.625rem;
    font-weight: 700;
    margin-top: 10px;
}

.introduction-wrapper .left-panel p {
    margin-bottom: 20px;
}

.introduction-wrapper .left-panel img {
    width: 100%;
    /* 画像を親要素に合わせる */
    height: auto;
    /* アスペクト比を保つ */
    display: block;
    border-radius: 8px;
    /* 角を少し丸める */
}

/* 要素 スクロール時動作　共通 */
.fade-in-on-scroll {
    opacity: 0;
    /* 初期状態で透明 */
    transform: translateY(60px);
    /* 下に60pxずらす */
    transition: opacity 1s ease, transform 0.5s ease;
    /* フェードインのスムーズさ */
}

.fade-in-on-scroll.is-visible {
    opacity: 1;
    /* 表示状態 */
    transform: translateY(0);
    /* 元の位置に戻る */
}

/* よくある質問 */
.faq-label {
    width: calc(100% - 60px);
    max-width: 700px;
    /* padding: 40px 0; */
    margin: 0 auto;
    align-items: center;
}

.decoration {
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-size: 6rem;
    font-weight: 700;
    transform: translateX(-100%);
    /* 初期位置を画面外に */
    opacity: 0;
    /* 初期は非表示 */
    transition: transform 0.5s ease-out, opacity 1s ease-out;
    /* スライドイン＆フェードイン */
}

.decoration.is-visible {
    transform: translateX(0);
    /* アニメーション後の位置 */
    opacity: 0.03;
    /* 表示 */
}

.faq-label h2 {
    text-align: center;
    font-size: 2rem;
    color: #08B355;
    margin-bottom: 40px;
}

.faq-label .description {
    text-align: center;
    font-size: 1.625rem;
    color: #000;
    margin-bottom: 40px;
}

.container-left {
    display: flex;
    flex-wrap: wrap;
    /* 必要に応じて折り返し */
    align-items: flex-start;
    /* 上から順に揃える */
    box-sizing: border-box;
    min-height: 200px;
    /* 最低高さを指定 */
    margin-bottom: 40px;
}

.container-left .left {
    width: 60%;
    /* 幅を調整 */
    background-color: #F8F4E6;
    /* 左側の背景色 */
    display: flex;
    /* Flexbox を適用 */
    justify-content: center;
    /* 横方向に中央寄せ */
    align-items: center;
    /* 縦方向に中央寄せ */
    box-sizing: border-box;
    border-radius: 0 40px 40px 0;
    padding: 40px;
}

.content {
    max-width: 100%;
    text-align: left;
    /* テキストを左揃え */
}

.question-header {
    display: flex;
    align-items: center;
    /* spanとh3を垂直方向で揃える */
    gap: 10px;
    /* spanとh3の間隔 */
    margin-bottom: 20px;
}

.question-header span {
    display: inline-block;
    font-size: 48px;
    color: #08B355;
    font-weight: bold;
}

.question-header h3 {
    font-size: 1.325rem;
    margin: 0;
}

.content p {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.container-right {
    display: flex;
    flex-wrap: wrap;
    /* 必要に応じて折り返し */
    align-items: flex-start;
    /* 上から順に揃える */
    box-sizing: border-box;
    min-height: 200px;
    /* 最低高さを指定 */
}

.container-right .right {
    width: 60%;
    /* 幅を調整 */
    background-color: #F0F6FA;
    /* 背景色 */
    display: flex;
    /* Flexbox を適用 */
    justify-content: center;
    /* 横方向に中央寄せ */
    align-items: center;
    /* 縦方向に中央寄せ */
    box-sizing: border-box;
    border-radius: 40px 0 0 40px;
    /* 右の角を丸く */
    padding: 40px;
}

.container-right .left {
    flex: 1;
    /* 左側を残りのスペースに割り当て */
}

/* 求めるのはこんな方 */
.requirements-wrapper {
    width: calc(100% - 60px);
    max-width: 1024px;
    /* padding: 40px 0; */
    margin: 0 auto;
    /* align-items: center;
    display: flex;
    justify-content: space-between; */
}

.requirements-label h2 {
    text-align: center;
    font-size: 2rem;
    color: #08B355;
    margin-bottom: 40px;
}

.requirements-label .description {
    text-align: center;
    font-size: 1.625rem;
    color: #000;
    margin-bottom: 40px;
}

.together {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-index {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* リストを縦に並べる */
    margin-left: 20px;
}

.left-index a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* リストアイテム間のスペース */
}

.left-index a img {
    width: 70px;
    margin-right: 10px;
    /* アイコンとテキストの間隔 */
}

.right-panel {
    width: 65%;
    display: flex;
    flex-direction: column;
    /* アイテムを縦に並べる */
    margin-right: 20px;
}

.item {
    margin-bottom: 20px;
    /* アイテム間のスペース */
}

.item h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #000;
}

.item p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.item .description {
    font-size: 1.2rem;
    font-weight: 700;
    color: #08B355;
}

.scrollin img {
    width: 100%;
    /* 画像をコンテナ幅に合わせる */
    max-width: 100%;
    border-radius: 20px;
}



/* 募集要項 */
.recruit-wrapper {
    width: calc(100% - 60px);
    max-width: 1024px;
    /* padding: 40px 0; */
    margin: 0 auto 40px auto;
    align-items: center;
}


.recruit-label h2 {
    text-align: center;
    font-size: 2rem;
    color: #08B355;
    margin-bottom: 40px;
}

.recruit-label .description {
    text-align: center;
    font-size: 1.625rem;
    color: #000;
    margin-bottom: 20px;
}

.recruit-label p {
    font-size: 1rem;
    padding: 0 40px;
    margin-bottom: 40px;
}

.recruit-thead th {
    border-top: none;
    border-radius: 15px 0 0 0;
    background: #08B355;
    width: 24.94%;
    text-align: left;
    font-weight: 700;
    padding-left: 60px;
}

.recruit-thead td {
    border-radius: 0 15px 0 0;
    background: #F0F6FA;
    width: 75.06%;
    padding-left: 40px;
    padding-right: 111px;
    height: 40px;
}

.recruit-tbody th {
    color: #fff;
    background: #08B355;
    width: 24.94%;
    text-align: left;
    font-weight: 700;
    padding-left: 50px;
    border-top: 1px solid #08B355;
}

.recruit-tbody td {
    background: #F0F6FA;
    width: 75.06%;
    padding-left: 40px;
    padding-right: 111px;
}

.recruit-tfoot th {
    border-top: none;
    border-radius: 0 0 0 15px;
    background: #08B355;
    width: 24.94%;
    text-align: left;
    font-weight: 700;
    padding-left: 50px;
}

.recruit-tfoot td {
    border-radius: 0 0 15px 0;
    background: #F0F6FA;
    width: 75.06%;
    padding-left: 40px;
    padding-right: 111px;
    height: 40px;
}

/* 会社概要 */
.company-wrapper {
    width: calc(100% - 60px);
    max-width: 1024px;
    /* padding: 40px 0; */
    margin: 0 auto 40px auto;
    align-items: center;
}


.company-label h2 {
    text-align: center;
    font-size: 2rem;
    color: #08B355;
    margin-bottom: 40px;
}

.company-label .description {
    text-align: center;
    font-size: 1.625rem;
    color: #000;
    margin-bottom: 20px;
}

.company-label p {
    font-size: 1rem;
    padding: 0 40px;
    margin-bottom: 40px;
}

.company-thead th {
    border-top: none;
    border-radius: 15px 0 0 0;
    background: #08B355;
    width: 24.94%;
    text-align: left;
    font-weight: 700;
    padding-left: 60px;
}

.company-thead td {
    border-radius: 0 15px 0 0;
    background: #F0F6FA;
    width: 75.06%;
    padding-left: 40px;
    padding-right: 111px;
    height: 40px;
}

.company-tbody th {
    color: #fff;
    background: #08B355;
    width: 24.94%;
    text-align: left;
    font-weight: 700;
    padding-left: 50px;
    border-top: 1px solid #08B355;
}

.company-tbody td {
    background: #F0F6FA;
    width: 75.06%;
    padding-left: 40px;
    padding-right: 111px;
}

.company-tfoot th {
    border-top: none;
    border-radius: 0 0 0 15px;
    background: #08B355;
    width: 24.94%;
    text-align: left;
    font-weight: 700;
    padding-left: 50px;
}

.company-tfoot td {
    border-radius: 0 0 15px 0;
    background: #F0F6FA;
    width: 75.06%;
    padding-left: 40px;
    padding-right: 111px;
    height: 40px;
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {

    .mainvisual .text .title {
        font-size: 2rem;
    }

    .recruit-tbody th {
        padding-left: 20px;
        white-space: nowrap;
    }

    .recruit-tbody td {
        padding-left: 20px;
        padding-right: 30px;
    }

    .recruit-wrapper {
        width: calc(100% - 50px);
    }

    .company-tbody th {
        padding-left: 20px;
        white-space: nowrap;
    }

    .company-tbody td {
        padding-left: 20px;
        padding-right: 30px;
    }

    .company-wrapper {
        width: calc(100% - 50px);
    }
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 480px) {
    .mainvisual .text .title {
        font-size: 1.5rem;
    }

    .introduction-wrapper {
        display: block;
    }

    .introduction-wrapper .left-panel {
        width: auto;
        margin: auto;
    }

    .introduction-wrapper .right-panel {
        width: auto;
        margin: auto;
    }

    .decoration {
        font-size: 2.5rem;
        margin: 20px 0px 0px 28px;
    }

    .container-left .left {
        width: 90%;
    }

    .container-right .right {
        width: 90%;
    }

    .recruit-label p {
        padding: 0;
    }

    .company-label p {
        padding: 0;
    }

    .together {
        display: block;
    }

    /* .requirements-wrapper {
        display: block;
    } */

    .left-index,
    .right-panel {
        width: auto;
        margin: auto;
    }
}